<div class="header">
    <mat-toolbar >
        <div class="nav-item">           
            <ul>
                <li><a routerLink="" >Login</a></li> 
                <li><a routerLink="registerShop" class="active"><span>Register</span></a></li>                  
            </ul>
        </div>
    </mat-toolbar>
</div>
<div class="container">
    <div class="form-container">
        <form (ngSubmit)="registerShop()" class="shopRegister p-2">
    
            <h1>Create New Shop</h1>
        
            <mat-form-field appearance="outline">
                <mat-label>Shop Name</mat-label>
                <input [(ngModel)]="shop.name" #name="ngModel" name="name"  matInput placeholder="Enter shop name">
                <mat-icon matSuffix>shop</mat-icon>
            </mat-form-field>
           
            <mat-form-field appearance="outline">
                <mat-label>Phone number</mat-label>
                <input  [(ngModel)]="shop.mobNo" name="mobile" matInput placeholder="Enter phone number">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field><br>
        
        
            <mat-form-field  appearance="outline">
                <mat-label>Email Id</mat-label>
                <input  [(ngModel)]="shop.email" name="email" matInput placeholder="Enter email id">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          
            
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea  [(ngModel)]="shop.address" name="address" matInput placeholder="Enter shop address" ></textarea>
                <mat-icon matSuffix>place</mat-icon>
            </mat-form-field><br>
        
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input  [(ngModel)]="shop.password" name="password" type="password" matInput placeholder="Enter password">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
          
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input [(ngModel)]="confirmPass" name="confirmPass" matInput placeholder="Enter password">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field><br>
            
            <div *ngIf="flag" class="spinner">
                <mat-spinner class="example-margin" color="warn"></mat-spinner>
            </div>
            
            <button type="reset" mat-raised-button color="warning">Reset</button>
            <button type="submit" mat-raised-button color="warn">Submit</button>

            <hr>
            <div >
              <a routerLink="" >back to login</a>
            </div>
        </form>
        
        
    </div>
</div>